# Import Libraries

In [1]:
#Dependencies
import pandas as pd
import numpy as np
import json
import os
import requests 
import pymongo

# Perform API CALL

In [2]:
#Base URL for grabbing data from City Of Chicago
base_url ="https://data.cityofchicago.org/resource/ijzp-q8t2.geojson"

#Specify the Test URL with limit and offset parameters
#test_url ="https://data.cityofchicago.org/resource/ijzp-q8t2.geojson?$limit=50000&$offset=0&$order=id&$where=year>2017"

### Define query paramerters to pull data from API

In [3]:
#Set parameter for API Call
offset= 0
limit = 50000 #50000
year =2020
record_counter =0

# Set empty lists to hold the combined data
crime_data = []

### Paging through the data using query parameters

In [4]:
print("Beginning Data Retrieval ")
print("-----------------------------")
#Paging through the data using query parameters - Loop through from pages
print(f"Loading first {limit} records.")
for i in range(5):
     query_url =f"{base_url}?$limit={limit}&$offset={offset}&$order=id&year={year}"
     #query_url =f"{base_url}?$limit={limit}&$offset={offset}&$order=id&$where=year=2018"
     #query_url =f"{base_url}?$limit={limit}&$offset={offset}&$order=id&$where=(year>2017&&year<2020)"
     print(f"Loading next {limit} records.")
     response = requests.get(query_url)
     data = response.json()
     #page = requests.get(f"https://data.cityofchicago.org/resource/ijzp-q8t2.geojson?$limit={limit}&$offset={offset}&$order=id&$where=year > 2017")
     offset += limit
     #crime_data += data
     crime_data = crime_data + data['features']
     #crime_data = crime_data + data["type"]
print("-----------------------------")
print(f"Data Retrieval Complete for {year}.Received {len(crime_data)} responses.")

Beginning Data Retrieval
-----------------------------
Loading first 50000 records.
Loading next 50000 records.
Loading next 50000 records.
Loading next 50000 records.
Loading next 50000 records.
Loading next 50000 records.
-----------------------------
Data Retrieval Complete for 2020.Received 211363 responses.

### Data Validation & Preprocessing - JSON File

In [5]:
# Check the total number of json objects recieved
print(f"We received {len(crime_data)} responses.")

We received 211363 responses.

In [6]:
# View first json object
crime_data[0]
#print(f"The first response is {json.dumps(crime_data[0], indent=2)}.")

{'type': 'Feature',
 'geometry': {'type': 'Point', 'coordinates': [-87.561272312, 41.764728045]},
 'properties': {'location_state': '',
  'location_zip': '',
  'x_coordinate': '1194878',
  'domestic': False,
  'latitude': '41.764728045',
  'updated_on': '2020-06-20T15:48:45.000',
  'description': 'FIRST DEGREE MURDER',
  'location_address': '',
  'arrest': True,
  'location_city': '',
  'year': '2020',
  'longitude': '-87.561272312',
  'block': '072XX S SOUTH SHORE DR',
  'fbi_code': '01A',
  'ward': '7',
  'id': '24889',
  'date': '2020-01-02T02:54:00.000',
  'beat': '0334',
  'y_coordinate': '1857803',
  'community_area': '43',
  'location_description': 'APARTMENT',
  'district': '003',
  'iucr': '0110',
  'case_number': 'JD101272',
  'primary_type': 'HOMICIDE'}}

#### Data Exploration using pandas to create summary table

In [7]:
#Normalizing the json objects to pandas - Validation Columns
crime_data_pd = pd.json_normalize(crime_data)
#crime_data_pd.dtypes

In [8]:
#Transforming trending date to datetime format
crime_data_pd['date'] = pd.to_datetime(crime_data_pd['properties.date'], format = '%Y-%m-%dT%H:%M:%S.%f')
#crime_data_pd.dtypes

In [9]:
#Checking for null values
print(crime_data_pd.isnull().sum())

type                                    0
geometry.type                        2900
geometry.coordinates                 2900
properties.location_state            2900
properties.location_zip              2900
properties.x_coordinate              2900
properties.domestic                     0
properties.latitude                  2900
properties.updated_on                   0
properties.description                  0
properties.location_address          2900
properties.arrest                       0
properties.location_city             2900
properties.year                         0
properties.longitude                 2900
properties.block                        0
properties.fbi_code                     0
properties.ward                         9
properties.id                           0
properties.date                         0
properties.beat                         0
properties.y_coordinate              2900
properties.community_area               1
properties.location_description      1216
properties.district                     0
properties.iucr                         0
properties.case_number                  0
properties.primary_type                 0
geometry                           211363
date                                    0
dtype: int64

In [10]:
crime_data_pd['crime_month'] =crime_data_pd['date'].dt.month
crime_data_pd['crime_month_name'] =crime_data_pd['date'].dt.month_name(locale='English')

In [11]:
#Creating a Data Frame with Selected Columns
crime_data_df = crime_data_pd[['properties.id','properties.year','crime_month','crime_month_name','properties.description','properties.location_description',
                               'properties.primary_type','properties.arrest','properties.domestic']]

In [12]:
crime_data_df = crime_data_df.rename(columns=
                                      { "properties.id":"id", "properties.year":"year", "properties.arrest":"arrest",
                                        "properties.primary_type":"primary_type", "properties.domestic":"domestic",
                                        "properties.description":"description", "properties.location_description":"location_description"})

In [13]:
crime_data_df.head()

,id,year,crime_month,crime_month_name,description,location_description,primary_type,arrest,domestic
0,24889,2020,1,January,FIRST DEGREE MURDER,APARTMENT,HOMICIDE,True,False
1,24890,2020,1,January,FIRST DEGREE MURDER,APARTMENT,HOMICIDE,True,False
2,24891,2020,1,January,FIRST DEGREE MURDER,STREET,HOMICIDE,True,False
3,24892,2020,1,January,FIRST DEGREE MURDER,STREET,HOMICIDE,False,False
4,24893,2020,1,January,FIRST DEGREE MURDER,RETAIL STORE,HOMICIDE,True,False

In [14]:
crime_count= crime_data_df.groupby(['year','crime_month_name','primary_type','description'])['id'].count()
#crime_count= crime_data_df.groupby(['crime_month_name','primary_type'])['id'].count()
crime_type_summary = pd.DataFrame({'reported_crime':crime_count})
crime_type_summary =crime_type_summary.reset_index()

In [15]:
crime_type_dict =crime_type_summary.to_dict('records')
#crime_type_dict
f = open("../static/dump_summary_dict.json", "w")
json.dump(crime_type_dict, f)
f.close()

### Loading Crime Type Dictonary in Mongo Shared

In [16]:
#conn = 'mongodb+srv://chicago_crime_user:chicago_crime_password@cluster0.opshg.mongodb.net/CHICAGO_CRIME_GROUPPROJECT?retryWrites=true&w=majority'
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the database in Mongo
db = client.chicago_crime

In [17]:
collection = db.crime_type_summary

In [18]:
collection.insert_many(crime_type_dict)

## Jay time

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the database in Mongo
db = client.chicago_crime.crime_type_summary

type(list(db.find()))

In [ ]:
# [
#     {'_id': ObjectId('617b40775dd8891e00990d3e'),
#         'crime_month_name': 'April',
#   'primary_type': 'ARSON',
#   'reported_crime': 35},
#     {'_id': ObjectId('617b40775dd8891e00990d3e'),
#         'crime_month_name': 'April',
#   'primary_type': 'ARSON',
#   'reported_crime': 35}
# ]

In [ ]:
data = db.find() # for scripting is okay
data = list(db.find()) # for jupyter testing purposes

# new_data = []
# for dictionary in data:
#     placeholder_dict = {}
#     for k,v in dictionary.items():
#         if k != '_id':
#             placeholder_dict[k] = v
#     new_data.append(placeholder_list)

# print(new_data)

placeholder_dict = {}
for k,v in dictionary.items():
    if k != '_id':
        placeholder_dict[k] = v
placeholder_dict

In [ ]:
new_data = []

for dictionary in data:
    new_d = {k:v for k,v in dictionary.items() if k != '_id'}
    new_data.append(new_d)

new_data = [{k:v for k,v in dictionary.items() if k != '_id'} for dictionary in data]
print(new_data)

In [ ]:
list(db.find())